body{
margin: 0;
font-family: Ringbearer;

}
.c_container{
    display: flex;
    justify-content: center;
}
.c_box_infoHist{
    background: url(../assets/images/—Pngtree—old\ textured\ parchment\ scroll_5496785.png);
    margin-top: 38px;
    min-height: 80%;
    margin-left: 101px;
    width: 87%;
    position: fixed;
}
.header {
    overflow: hidden;
    background-color: #090909;
    padding: .5rem 10px;
    position: sticky;
    top: 0;
    z-index: 99;
}
  
.c_botao{
    display: flex;
    justify-content: center;
    margin: 0px 353px 0px 353px;
    width: 50%;
    margin-left: 25%;
}
.c_botaoH{
    background-color: transparent;
    color: white;
    justify-content: center;
    margin: 15px;
    cursor: pointer;
    margin-top: 19px;
    font-family: Ringbearer;
    font-size: large;
    
}
.c_logo{
    float: left;
    width: 70px;
    height: 70px; 
    margin: 0%;
    top: 0;
    cursor: pointer;
    margin-left: 35px;
}
.c_formulario{
    margin-top: 20px;
    text-align: center;
    color:black;
}
.c_formulario_login{
    margin-top: 20px;
    text-align: center;
    color:black;
}
.c_input{
    font-family: Ringbearer;
    margin-top: 5px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    
}
input::placeholder {
    color: rgb(255, 255, 255);
  }
.c_cadastrar{
    margin-bottom: 30px;
    width:150px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 7px;
    font-size: small;
}
.c_back {
    background: url(../assets/images/newWorldFundo1.png);
    min-height: 100%;
    width: 100%;
    position: fixed;
    margin-top: -22px;
}
.c_backWP {
    background: url("../assets/images/fundoWP.png");
    min-height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0px;
}

.c_backLogin{
    background: url("../assets/images/newWorldFundo1.png");
    min-height: 100%;
    width: 100%;
    position: fixed;
    margin-top: -1px;

}
.c_papiroBoneco{
    background: url(../assets/images/Papiro/vintage_paper_background_2708.jpg);
    margin: 0 auto;
    margin-top: 119px;
    margin-left: 365px;
    min-height: 55%;
    width: 16%;
    position: fixed;
    border-radius: 15%;
    box-shadow: 0px 0px 3px 3px rgb(41 41 41);

}

.c_papiroHist {
    background: url(../assets/images/Papiro/vintage_paper_background_2708.jpg);
    margin: 0 auto;
    margin-top: 105px;
    margin-left: 162px;
    min-height: 65%;
    width: 55%;
    position: fixed;
    border-radius: 5%;
    box-shadow: 0px 0px 3px 3px rgb(41 41 41);
}
    /* margin-top: 160px;
    margin-left: 300px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* width: 250px;
    height: 300px; */




.c_botaoFechar{
    color: red;
    background-color: white;

}

.c_img {
    margin-top: 200px;
    margin-left: 641px;
    cursor: pointer;
}
.c_texto{
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 60px;
}
.c_botaoX{
  
    margin-left: 180px;
    margin-top: 300px;
}
.c_img1 {
    margin-top: 426px;
    margin-left: 762px;
    cursor: pointer;
}
.c_img2 {
    margin-top: 203px;
    margin-left: 1047px;
    cursor: pointer;
}
.c_img3 {
    margin-top: 178px;
    margin-left: 120px;
    cursor: pointer;
}
.c_img4{
    margin-top: 184px;
    margin-left: 664px;
    cursor: pointer;
}

.c_papiro{
    background: url(../assets/images/Papiro/vintage_paper_background_2708.jpg);
    margin: 0 auto;
    margin-top: 100px;
    min-height: 50%;
    width: 20%;
    position: fixed;
    border-radius: 15%;
    box-shadow: 0px 0px 3px 3px rgb(41, 41, 41);
    
}
.c_papiro_login{
    background: url(../assets/images/Papiro/vintage_paper_background_2708.jpg);
    margin: 0 auto;
    margin-top: 120px;
    margin-left: 7px;
    min-height: 30%;
    width: 20%;
    position: fixed;
    border-radius: 15%;
    box-shadow: 0px 0px 3px 3px rgb(41, 41, 41);
    
}
.c_papiro_modal{
    background: url(../assets/images/vintage_paper_background_2708.jpg);
    margin: 0 auto;
    margin-top: 47px;
    margin-left: 7px;
    min-height: 76%;
    width: 68%;
    position: fixed;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0px 0px 3px 3px rgb(41 41 41);
}
.c_papiro_modal h1{
margin-top: 5%;

}
.c_modal_texto p{
    font-size: 23px;
    /* font-family:Olde English Regular; */
    padding: 10%;
    text-align: justify;
    margin-top: -80px;
    line-height: 1.5;
    text-indent: 25px;
}
.c_modal_texto1 p{
    font-size: 23px;
    /* font-family:Olde English Regular; */
    padding: 10%;
    text-align: justify;
    margin-top: 0px;
    line-height: 1.5;
    text-indent: 25px;
}
.c_box_info{
    background: url(../assets/images/backgroundBlack.jfif);
    margin: 0 auto;
    margin-top: 38px;
    min-height: 80%;
    margin-left: 101px;
    width: 87%;
    position: fixed;
    border-radius: 0%;
    box-shadow: 0px 0px 3px 3px rgb(41, 41, 41);
    overflow-y: scroll;
    opacity: 60%;
}
.c_nomeUsuario{
    color: white;
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.c_tituloBox{
    color: white;

}
.c_textoBox{
    color: white;
}
.c_containerBox{
    opacity: 100%;
    text-align: center;
}
.c_modalJogo{
    background: url(../assets/images/motaland.jpg);
    width: 75%;
    left: 210px;
    height: 100%;
    position: absolute;
    z-index: 150;
    top: 0;
    background-size: cover;
}
.c_background{
    width: 100%;
    height: 100%;
    background-color: black;

}
.c_boneco{
    height: 396px;
    margin-right: 40px;
    display: flex;
    margin-left: -37px;
}